__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
.idea/
.vscode/
.env

.DS_Store
*.log
*.sqlite3
*.db
*.bak
*.swp
*.tmp
*.old
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
*.sublime-project
*.sublime-workspace
*.tmproj
*.suo
*.user
*.userosscache

*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.ncb
*.sdf
